@-moz-document url("https://web.whatsapp.com/") {
	/* This will make the text of the messages be right-to-left. */
	.message-text {
		direction: rtl;
	}
	  
	/* This will make the time-stamp under the messages be relative
	 * instead of absolute. This is because when moving the message
	 * text to be RTL, it hides the time-stamp. Making it relative
	 * fixes that. */
	.message-meta {
		position: relative;
	}

	/* This makes the input text box be RTL. */
	div.input {
		direction: rtl; 
	}

	/* This makes conversation names (the names of the
	 * users or groups) in both the left panel and the
	 * current conversation title be RTL. */ 
	span.emojitext {
		direction: rtl; 
	}

	/* This makes the text under conversation descriptions (on the left
	 * panel of the app) be RTL. */
	.chat-secondary {
		direction: rtl;    
	}
}
